:root{
	--primary: #009688;
	--secondary: #00796B;
	--dark: #222;
	--white: #fff;
	--light: #eee;

	--primary-font: monospace;
	--secondary-font: cursive;
	--terciary-font: sans-serif;

	--pad-side: 20px;
}



*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-size: 18px;
	line-height: 150%;
	font-family: var(--primary-font);
}
#root{
	width: 100vw;                                  min-height: 100vh;
        overflow-x: hidden;
	display: flex;
        flex-direction: column;
	background: var(--light);
}
main{
	flex-grow: 1;
}
a{
	text-decoration: none;
	color: var(--primary);
}
li{
	list-style: none;
}
button{
	width: 80px;
	height: 40px;
	font-size: 20px;
	font-weight: 400;
	margin: 3px;
	padding: 3px 5px;
	outline: none;
	border: none;
	border-radius: 10px;
	background: var(--light);
}
header{
	height: 55px;
	display: flex;
	align-items: center;
	background: var(--white);
	color: var(--primary);
	padding: 10px var(--pad-side);
	position: relative;
}
header h1{
	font-family: var(--secondary-font);
	text-transform: capitalize;
	flex-grow: 1;
}
.menu-btn{
	width: 30px;
	height: 30px;
}
.menu-btn span{
	display: inline-block;
	background-color: var(--primary);
	width: 30px;
	height: 5px;
	border-radius: 10px;
}
.menu-btn span::before, .menu-btn span::after{
	content: "";
	position: absolute;
        display: inline-block;
        background-color: var(--primary);
        width: 30px;
        height: 5px;
        border-radius: 10px;
	transition-property: transform;
	transition: 200ms ease-in-out;
}
.menu-btn span::before{
	transform: translateY(10px);
}
.menu-btn span::after{
        transform: translateY(-10px);
}
.menu-btn.active span{
	background: transparent;
}
.menu-btn.active span::before{
	transform: rotate(-45deg);
}
.menu-btn.active span::after{
	transform: rotate(45deg);
}
header nav{
        width: 100%;
        height: 350px;
        position: absolute;                            top: 56px;
        right: 0;
	transform-origin: right;
	transform: scale(0);
        background: var(--white);
	transition: transform 200ms ease-in-out;
}
header nav.active{
	transform-origin: right;
	transform: scale(1);
}
header nav li{
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid var(--primary);
}
header nav a{
	font-size: 20px;
	font-weight: 500;
}
.hero{
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	background: linear-gradient(39deg, var(--primary), var(--dark));
	background-blend-mode: multiply;
	color: var(--white);
}
.hero h3{
	width: 80%;
	flex-basis: 50%;
	margin: 0 auto;
	font-family: var(--primary-font);
	font-size: 25px;
	line-height: 90%;
}
.hero .btn.white{
	width: 100px;
	height: 50px;
	font-family: inherit;
	font-size: 20px;
	font-weight: 800;
	background: var(--white);
	color: var(--primary);
}
.sign-box{
	background: linear-gradient(39deg, var(--primary), var(--dark));
	padding: 50px 0;
}
form.sign{
	width: 85%;
	background: var(--white);
	margin: auto;
	padding: 50px 30px;
}
.sign div{
	margin: 5px 0;
}
.sign div label{
	color: var(--dark);
	text-transform: capitalize;
}
.sign div input{
	width: 100%;
	border: 1px solid var(--primary);
	border-radius: 5px;
	padding: 8px 4px;
}
.sign input[type='submit']{
	font-size: 16px;
	background: var(--secondary);
	color: var(--white);
}
.sign input:focus{
	outline: blue;
	border: 2px solid var(--secondary);
}
.questions-box{
	width: calc(100% - var(--pad-side) * 2);
	margin: 30px auto;
	padding: 50px 30px;
	background: var(--white);
	box-shadow: 1px 1px 10px var(--dark);
}
.questions-box h3, .questions-box article{
	background: red;
	width: 100%;
}
.questions-box h3{
	font-size: 18px;
	font-weight: 600;
	font-family: var(--terciary-font);
}
.questions-box h3:first-letter{
	font-size: 25px;
	text-transform: capitalize;
}
.questions-box  article{
	margin: 5px 0;
	display: flex;
	align-items: center;
}
.questions-box input[type="radio"]{
	outline: none;
	border: none;
	margin-right: 5px;
}
.questions-box label{
	flex-grow: 1;
}
footer{
	color: var(--white);
	font-size: 16px;
	background: var(--secondary);
	padding: 20px 8px 5px 8px;
}
footer nav a{
	color: var(--light);
}
footer section{
	display: flex
}
footer section div{
	flex: 1 1 100%;
}
footer textarea{
	width: 100%;
	height: 100px;
	outline: none;
	border: none;
	background: var(--white);
	padding: 3px;
}
.copyright{
	font-family: var(--secondary-font);
	text-align: center;
	margin-top: 5px;
}

