:root{
	--primary: #009688;
	--secondary: #00796B;
	--dark: #222;
	--white: #fff;
	--light: #eee;

	--danger: #d32f2f;
	--danger-bg: #ef9a9a;
	--success-bg: #a5d6a7;
	--success: #388e3c;

	--primary-font: monospace;
	--secondary-font: cursive;
	--terciary-font: sans-serif;

	--pad-side: 20px;
}



*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body{
	font-size: 1.8rem;
	line-height: 150%;
	font-family: var(--primary-font);
}
#root{
	width: 100vw;                                  min-height: 100vh;
        overflow-x: hidden;
	display: flex;
        flex-direction: column;
	background: var(--light);
}
.danger{
	color: var(--danger);
	background: var(--danger-bg);
}
.success{
	color: var(--success);
	background: var(--success-bg);
}
.modal{
	padding: .5rem 0;
	border-radius: .5rem;
}
.not-found{
	font-family: var(--font-primary);
	font-size: 3rem;
	color: var(--primary);
	text-align: center;
	text-transform: capitalize;
	padding-top: 3rem;
}
.google-btn button{
	width: 100%;
	background: var(--secondary);
	color: var(--white);
	border-radius: .5rem;
}
main{
	flex-grow: 1;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: var(--primary);
}
li{
	list-style: none;
}
button{
	width: 8rem;
	height: 4rem;
	font-size: 2rem;
	font-weight: 400;
	margin: .3rem;
	padding: .3rem .5rem;
	outline: none;
	border: none;
	border-radius: 1rem;
	background: var(--light);
}
#loader{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
}
#loader div{
	width: 5rem;
	height: 5rem;
	border-width: .5rem;
	border-style: solid;
	border-color: lightgray;
	border-top-color: var(--secondary);
	border-radius: 50%;
	animation: loader 1s linear infinite;
}
@keyframes loader{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
header{
	height: 5.5rem;
	display: flex;
	align-items: center;
	background: var(--white);
	color: var(--primary);
	padding: 1rem var(--pad-side);
	position: relative;
	z-index: 1;
}
header h1{
	font-family: var(--secondary-font);
	text-transform: capitalize;
	flex-grow: 1;
}
.menu-btn{
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}
.menu-btn span{
	display: inline-block;
	background-color: var(--primary);
	width: 3rem;
	height: .5rem;
	border-radius: 1rem;
}
.menu-btn span::before, .menu-btn span::after{
	content: "";
	position: absolute;
        display: inline-block;
        background-color: var(--primary);
        width: 3rem;
        height: .5rem;
        border-radius: 1rem;
	transition-property: transform;
	transition: 200ms ease-in-out;
}
.menu-btn span::before{
	transform: translateY(1rem);
}
.menu-btn span::after{
        transform: translateY(-1rem);
}
.menu-btn.active span{
	background: transparent;
}
.menu-btn.active span::before{
	transform: rotate(-45deg);
}
.menu-btn.active span::after{
	transform: rotate(45deg);
}
header nav{
        width: 100%;
        height: 35rem;
        position: absolute;                            top: 5.6rem;
        right: 0;
	transform-origin: right;
	transform: scale(0);
        background: var(--white);
	transition: transform 200ms ease-in-out;
}
header nav.active{
	transform-origin: right;
	transform: scale(1);
}
header nav li{
	height: 5rem;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	border-bottom: 1px solid var(--primary);
}
nav i{
	margin-right: 1rem;
	transform: scale(1.2);
}
header nav a{
	font-size: 2rem;
	font-weight: 500;
}
.user a{
	color: var(--white);
}
header nav .user button{
	padding: 0;
	background: var(--primary);
	color: var(--white);
}
.hero{
	height: 40rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10rem;
	background: linear-gradient(39deg, var(--primary), var(--dark));
	background-blend-mode: multiply;
	color: var(--white);
}
.hero h3{
	width: 80%;
	flex-basis: 50%;
	margin: 0 auto;
	font-family: var(--primary-font);
	font-size: 2.5rem;
	line-height: 90%;
}
.hero .btn.white{
	width: 10rem;
	height: 5rem;
	font-family: inherit;
	font-size: 2rem;
	font-weight: 800;
	background: var(--white);
	color: var(--primary);
}
.sign-box{
	background: linear-gradient(39deg, var(--primary), var(--dark));
	padding: 5rem 0;
}
form.sign{
	width: 85%;
	background: var(--white);
	margin: auto;
	padding: 5rem 3rem;
}
.sign div{
	margin: .5rem 0;
}
.sign div label{
	color: var(--dark);
	text-transform: capitalize;
}
.sign div input{
	width: 100%;
	border: 1px solid var(--primary);
	border-radius: 5px;
	padding: .8rem .4rem;
}
.sign input[type='submit']{
	font-size: 1.6rem;
	background: var(--secondary);
	color: var(--white);
}
.sign input[type='submit']:disabled{
	filter: grayscale(70%);
}
.sign input:focus{
	outline: blue;
	border: 2px solid var(--secondary);
}
.questions-box{
	width: 85%;
	margin: 3rem auto;
	padding: 5rem 3rem;
	background: linear-gradient(39deg, var(
--primary), var(--dark));
}
.questions-box h3, .questions-box article{
	color: var(--white);
	width: 100%;
}
.questions-box h3{
	font-size: 1.8rem;
	font-weight: 600;
	font-family: var(--terciary-font);
}
.questions-box h3:first-letter{
	font-size: 2.5rem;
	text-transform: capitalize;
}
.questions-box  article{
	margin: .5rem 0;
	display: flex;
	align-items: center;
}
.questions-box input[type="radio"]{
	outline: none;
	border: none;
	margin-right: .5rem;
}
.questions-box label{
	flex-grow: 1;
}
footer{
	color: var(--white);
	font-size: 1.6rem;
	background: var(--secondary);
	padding: 1rem .8rem .5rem .8rem;
}
footer i{
	font-size: 3rem;
	color: var(--light);
	flex-basis: 30%;

}
.social-icons{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
footer section{
	display: flex
}
footer section div{
	flex: 1 1 100%;
}
footer textarea{
	width: 100%;
	height: 100px;
	outline: none;
	border: none;
	background: var(--white);
	padding: .3rem;
}
.copyright{
	font-family: var(--secondary-font);
	text-align: center;
	margin-top: .5rem;
}

@media all and (min-width: 935px){
	html{
		font-size: 90%;
	}
	.menu-btn{
		display: none;
	}
	header nav{
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		transform: scale(1)
	}
	header h1{
		width: 20rem;
	}
	header nav ul{
		display: flex;
		justify-content: flex-end;
	}
	header nav li{
		border: none;
		transition: all 250ms ease-out;
	}
	nav li a{
		display: none;
	}
	nav li:nth-child(4) a{
		font-size: 1.3rem;
		font-weight: 700;
	}
	nav li:last-child a{
		display: inline;
	}
	nav li:hover{
		width: auto;
	}
	nav li:hover a{
		display: inline;
	}

	.hero h3{
		max-width: 600px;
		text-align: center;
	}

	.sign{
		max-width: 500px;
	}

	.questions-box{
		max-width: 800px;
	}
	.questions-box h3{
		font-size: 3rem;
	}
	.questions-box article{
		font-size: 2rem;
	}

	
	.social-icons{
		display: block;
	}
	.social-icons i{
		font-size: 5rem;
		margin-right: 3rem;
	}


	.copyright{
		font-size: 2rem;
	}
}
