*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 18px;
	line-height: 150%;
	font-family: cursive, sans-serif;
}
header{
	display: flex;
	align-items: center;
	background: #222;
	color: #fff;
	padding: 10px 0;
}
header h1{
	text-transform: capitalize;
	flex-grow: 1;
}
.btn{
	width: 30px;
	height: 30px;
}
.btn span{
	display: inline-block;
	background-color: #fff;
	width: 30px;
	height: 5px;
	border-radius: 10px;
}
.btn span::before, .btn span::after{
	content: "";
	position: absolute;
        display: inline-block;
        background-color: #fff;
        width: 30px;
        height: 5px;
        border-radius: 10px;
}
.btn span::before{
	transform: translateY(10px);
}
.btn span::after{
        transform: translateY(-10px);
}
.btn.active{
	background: red;
}



